* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
/* Define variaveis CSS globais (custom properties) */

:root{
    --color-neutral-black: #263238;
    --color-neutral-d-grey: #4D4D4D;
    --color-neutral-grey: #717171;
    --color-neutral-l-grey: #89939E;
    --color-neutral-grey-blue: #ABBED1;
    --color-neutral-silver: #F5F7FA;
    --color-neutral-white: #FFFFFF;
    --color-neutral-primary: #4CAF4F;
    --color-neutral-secondary: #263238;
    --color-neutral-info: #2194f3;
    --color-neutral-shade1: #43A046;
    --color-neutral-shade2: #388E3B;
    --color-neutral-shade3: #237D31;
    --color-neutral-shade4: #1B5E1F;
    --color-neutral-shade5: #103E13;
    --color-neutral-tint1: #66BB69;
    --color-neutral-tint2: #81C784;
    --color-neutral-tint3: #A5D6A7;
    --color-neutral-tint4: #C8E6C9;
    --color-neutral-tint5: #E8F5E9;
    --color-neutral-warning: #FBC02D;
    --color-neutral-error: #E53835;
    --color-neutral-success: #2E7D31;

    /* configurações de fontes */

    --font-family: "inter";
    --font-headline-1-size: 64px;
    --font-headline-2-size: 36px;
    --font-headline-2-weight: 600;
    --font-headline-4-size: 20px;
    --font-body2-weight-regular: 400;
    --font-body3-size: 14px;
}

a{
    text-decoration: none;
}